.home-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-message {
    max-width: 95%;
    margin-top: var(--spacer-600);
    border: 2px solid rgba(var(--clr-bg-red), .6);
    clip-path: var(--polygon-turn-indicator);
    background-color: rgba(var(--clr-bg-main), .3);
}

.home-message p {
    margin: 0;
    padding: var(--spacer-400) var(--spacer-600);
    font-size: var(--font-size-500);
    text-align: center;
    font-family: var(--font-futuristic);
}

.patch-notes-container {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
}

.patch-notes {
    margin-top: var(--spacer-400);
    width: 320px;
    padding: var(--spacer-200);
    background-color: rgba(var(--clr-bg-main));
    position: relative;
}

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    0% { --gradient-angle: 0deg;}
    100% { --gradient-angle: 360deg;}
}

.patch-notes-bg {
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    position: absolute;
    inset: -4px;
    margin: auto;
    z-index: -1;
    background-image: conic-gradient(
        from var(--gradient-angle),
        rgba(var(--clr-bg-main)),
        rgba(var(--clr-bleed)),
        rgba(var(--clr-bg-main))
    );
    animation: rotation 4s linear infinite;
}

.patch-notes > p {
    font-size: var(--font-size-400);
    display: flex;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(var(--clr-bg-red), .8);
    margin: 0;
    justify-content: space-between;
    font-family: var(--font-futuristic);
}

.patch-notes > p span {
    color: rgba(var(--clr-bg-red));
}

.notes-container {
    padding: var(--spacer-200);
}

.notes-container p {
    margin: var(--spacer-200) 0;
    font-size: var(--font-size-200);
}

.notes-container .note-center {
    text-align: center;
    font-size: var(--font-size-300);
    color: rgba(var(--clr-bg-red), .8);
}

@media (min-width: 1000px) {
    .patch-notes {
        width: 400px;
    }
  }

@media (min-width: 1300px) {
    .patch-notes {
        width: 500px;
    }
  }

@media (min-width: 1800px) {
    .patch-notes {
        width: 700px;
    }
  }